.approve-icon button{
  width: 2.5rem;
  border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #008000, #00ff00);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 17px;
 padding: 0.6em 0em;
 display: flex;
}
.approve-icon button span{
    font-weight: bold;
}
.approve-icon button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
 }
 
 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }
.approve-icon button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
 }
 
 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05da3e66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }
 .desapprove-icon button{
  border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #ff0000, #ff4c4c);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 17px;
 padding: 0.6em 0em;
 display: flex;
 width: 2.5rem;
}
.desapprove-icon button span{
  font-weight: bold;
}
.desapprove-icon button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse513 1.5s infinite;
 }

 @keyframes pulse513 {
  0% {
   box-shadow: 0 0 0 0 #da0c0566;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }
 .btn-edit-user{
   display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 }
 .button-cointaner button{
  position: absolute;
  right: -20rem;
 }
.rapped-icons{
  position: absolute;
  display: flex;
  gap: 0.4rem;
  right: 0;
  top: 0;
}

 