.approve-icon button{
  width: 2.5rem;
  border: none;
 color: #fff;
 /* background-image: linear-gradient(30deg, #008000, #00ff00); */
 background-image: linear-gradient(30deg, #56ab2f, #a8e063);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 17px;
 padding: 0.6em 0em;
 display: flex;
}
.approve-icon button span{
    font-weight: bold;
}
.approve-icon button:hover {
  background-position: right center;
  background-size: 200% auto;
  
 }
 

 

 .desapprove-icon button{
  border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #ED213A, #93291E);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 17px;
 padding: 0.6em 0em;
 display: flex;
 width: 2.5rem;
}
.desapprove-icon button span{
  font-weight: bold;
}
.desapprove-icon button:hover {
  background-position: right center;
  background-size: 200% auto;
 
 }


 .btn-edit-user{
   display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 }
 .button-cointaner button{
  position: absolute;
  right: -20rem;
 }
.rapped-icons{
  position: absolute;
  display: flex;
  gap: 0.4rem;
  right: 0;
  top: 0;
}

 