 .line-ft{
  color: white;
  /* border: 1px solid yellow !important; */
  background-color: var(--blue);
 
  width: 100%;
   
  display: flex;
 
  height: 45px;
  
  padding-top: 1rem;
  padding: 1rem;
  position: relative;
 justify-content: space-between;
 align-items: end;
  
} 
 .line-one {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  cursor: pointer;
}
.line-two {
  
  cursor: pointer;

 }
.icons-ft{
  display: flex;
  gap: 1rem;
  align-items: center;

}
 
.insta,.fb,.tw{
  font-size: 1.1rem;
}