.img-wrapp > img {
  height: 70px;
  width: 70px;
  border-radius: 50px;
}
.img-wrapp {
  position: relative;
  top: 15px;
}
.userdata{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.menu-wrapper>div:nth-child(-n+3){
  margin-bottom: 50px;
  font-size: 2rem;
  position: relative;
  left: 1rem;
}
.menu-wrapper>div:nth-child(1){
  margin-top: 2rem;
  
}

.nav-option2 {

  
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0rem;
  

}
.nav-option2 > button {
  border: none;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
}
.menu-wrapper>div:nth-child(4){
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.nav-option {
  gap: 0.5rem;
  border: none;
}
.nav-option>button {
  border: none;
  background-color: white;
  font-size: 1rem;
  opacity: 0.5;
  cursor: pointer;
}

.name {
  display: flex;
  gap: 0.5rem;
  width: 14rem;
  justify-content: center;
   
}
.name-wrapp {
  text-align: center;
  margin-top: 5px;

}

.hamburger .line{
width: 25px;
height: 1px;
background-color: #1f1f1f;
display: block;
margin: 7px auto;
transition: all 0.3s ease-in-out;

}
.hamburger{
  cursor: pointer;
  position: relative;
  display: none;
  width: 100%;
  background-color: var(--blue);
  padding: .2rem;
 
}
.hamburger.active{
  transition: all 0.3s ease-in-out;
  transition-delay:0.6s ;
 
}
.hamburger.active .line:nth-child(2){
  width: 0;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}
.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px)  ;
}

.menu-wrapper {
  position: relative;
  top: 0rem;
  width: 100%;
  transition: all .5s ease-in;
}

.nav-wrapper{
  background-color: white;
  position: relative;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  width: 17rem;
  border: 2px solid;
  transition: transform 0.4s ease-out; 
  height: 100%;
  margin-left:0 ;
 
}

.nav-wrapper.active{
  transform: translateX(0px);
   
}
  hr {
  border: 1px solid var(--blue);
  width: 11rem;
  opacity: 0.4;
}
.hr1 {
  position: relative;
  top: -38rem;
  right: -1.2rem
}
.hr2 {
  position: absolute;
  top: 20rem;
  right: 4.8rem;
}
@media screen and (max-width:1400px) {
  
  .hamburger{
    display: block;
    font-size: 2rem;
    font-weight: bold;
  }
  .nav-wrapper{
    transform: translateX(-280px);
    position: absolute;
    z-index: 3;
    border-radius: 100px;
   
  }
  .menu-wrapper{
    max-height: 220px;
  }
  .nav-wrapper.active{
  
    margin-left: 5px;
  }
  hr{
    display: none;
  }
}

.nav-option > button:hover {
  opacity: 1;
}


