/* .h-wrapper {
  justify-content: space-between;
  align-items: baseline;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.icon-container {
  font-size: 30px;
  color: white;
}
.icon-container > :nth-child(1) {
  margin-right: 7px;
}

.Logo {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
} */
 /* nour */

 .h-wrapper{
  justify-content: space-between;
  align-items:baseline;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  min-width: 1300px;

}
.icon-container{
  font-size: 30px;
  color: white;
  cursor: pointer;
}   
.icon-container>:nth-child(1){
  margin-right: 7px;
   
}
.icon-container>:nth-child(1):hover{
  scale: 1.2;
}
.icon-container>:nth-child(2):hover{
  scale: 1.2;
}
.logo{
  display: flex;
  justify-content: space-between;
  border: 1rem;
  border-color:red ;
  width: 2rem;
  height: 2rem;
  
}
.logo>img{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -1rem;
  left: -0.75rem;
  height: 110px;
}

.Logo{
  color: #DDF2FD;
  font-size: 1.3rem;
  font-family: "Roboto Slab";
  font-weight: 800;
  display: flex;
  position: absolute;
  width: 240px;
  height: 120px;
  justify-content: center;
  left: -1.5rem;
  top: 2rem;
}

/* the notfication card */

 
.notification-box{
  position: absolute;
  top: 3.5rem;
  right: 3rem;
  border-radius: 5px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin: 20px auto;
  z-index: 100;

 
}
.notification{
  
  height: 14rem;
  width: 14rem;
  background-color: hsla(0, 0%, 100%);
  transition-property: transform,opacity,height;
  transition-duration: 0.35s ;
  transition-timing-function: linear;
  border-radius: 5px;
}
.active {
 
  transform: translateY(0);
  
}
.inactive{
  opacity: 0;
  transform: translateY(-10px);
  height: 4rem;
}