.card-container{
   border: 1px solid;
   background-color: hsl(0, 0%, 97%);
   border-radius: 10px;
   padding-left: 0.8rem;
   width: 100%;
   height: 200px;
   margin-top: 0rem;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   
}
 .titleCard {
    
    font-size: 2.1rem;
    color: var(--blue);
 }
 .Title{
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
 }
 .card-icon span{
    font-size: 3rem;
    padding-right: 1.5rem;
    color: royalblue;
   
 }
 .card-description {
   padding-top: 1rem;
 }
 .card-description h3{
    font-weight: bolder;
    font-size: 2.5rem;
    padding-left: 1rem;
    
    display: inline;
    /* padding-top: 1rem; */
 }
 .card-description span{
   /* font-size: ; */
   padding-left: 2rem;
 } 
 .card-values{
    display: flex;
    gap: 1.1rem;
    margin-top: 1.4rem;
    padding-bottom: 1.2rem;
    margin-left: 1.4rem;
 }

 /* .card-container:hover{
   scale: 1.2;
 } */