.description{
    position: relative;
    text-align: left;
    left: 1rem;
    font-size: 1.6rem;
}





/* .bar{
    position: absolute;
    width: 100%;
    height: 58px;
    background-color: #D2CCCC;
    color: #484040E5;
    top: 5.5rem;
}

.bar>:nth-child(1){
    position: absolute;
    left: 1rem;
    top: 1.25rem;
}

.bar>:nth-child(2){
    position: absolute;
    left: 5rem;
    top: 1.25rem;
}

.bar>:nth-child(3){
    position: absolute;
    left: 25rem;
    top: 1.25rem;
}

.bar>:nth-child(4){
    position: absolute;
    right: 7rem;
    top: 1.25rem;
} */

/* iyed changes css  */

.table-heading{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items:center;
    margin-top: 0.5rem;
 
    min-width: 600px;
    
    
}
.plus-icon{
    border-radius: 50%;
    background-color: #838383;
    height: 30px;
    width: 30px;
    color: #E8E8E8;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}
.search-input {
    background-color: var(#E8E8E8);
    border-radius: 1rem;
    width: 300px;
    height: 40px;
    font-size: 1.2rem;
    padding-left: 1rem;

  }
.right-m{
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.dots{
   
     display: flex;
     justify-content: end;
     margin-right: 1rem;
     
 
}
 
.tableaux-rapport{
    border: 1px solid;
    width: 90%;
    margin: auto;
    border-collapse:collapse;
    margin-top: 1.2rem;
    
}
.tableaux-rapport th{
    border: 1px solid;
    width: 14rem;
    height: 3rem;
}
.tableaux-rapport td{
    border: 1px solid;
    padding: 2rem;
}
.table{
    overflow: auto;
    
}