.container-grid{
    border: 5px solid;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    min-height: 750px;
     
}
.item1{
    border: 5px solid springgreen;
    grid-column: span 2;
   
}
.item2{
    border: 5px solid azure;
    grid-row: 1 / span 2;   
    grid-column-start:3 ;
}
.item3{
    border: 5px solid violet;
    grid-column: span 2;
    
}
 