.Cards-containerStat {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 5px solid green; */
  /* width:91%; */
  margin: auto;
  /*   
   border: 5px solid hsl(0, 0%, 69%,1); */
  top: -3.5rem;
  position: relative;
  z-index: 1000;
  /* width: 97%; */
  width: 100%;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  height: clamp(200px, 90%, 350%);
  overflow: auto !important;
  /* background-color: hsl(0, 0%, 95%,1); */
  padding-top: 2rem; /*fix this when page getting smaller make the heigt bigger or check m3a louled ken mech bech taamel overflow*/
}
.charts {
  /* border: 5px solid  hsl(0, 0%, 60%); */
  /*   
   background-color: hsl(0, 0%, 98%,0.99); */
  width: 72%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
   
 
  justify-content: space-between;
  flex-wrap: wrap;
}
.gridding-container {
   
  width: 100%;
  padding-top: 1rem;
  display: flex;
  /* flex-direction: column; */
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.leftCalendar-rightCard {
  display: flex;
   
  align-items: center;
  width: 71%;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
}
.leftCard {
  border: 5px solid transparent;
 
   
  /* width: 50%; */
}

.twoCards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: end;
  justify-content: space-between;
  width: 50%;
  
 

  
}

.left-chart {

  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  height: 430px;
  width: clamp(300px, 80%, 500px);
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.right-chart {
 
  display: block;
  border-radius: 5px;
  background-color: transparent;
  width: 45%;
  min-width: 350px;
   
}

@media (max-width: 880px) {
  .gridding-container {
    justify-content: center;
    align-items: center;
  }
  .twoCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
 