/* @import url("https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css"); */

.task-card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  /* position: absolute; */


}

.task-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-card-header h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.task-card-header button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.task-card-body {
  display: flex;
}

.task-card-body-left,
.task-card-body-right {
  width: 50%;
}

.task-card-body-right-top,
.task-card-body-right-bottom {
  display: flex;
  justify-content: space-between;
}