.task-card {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  display: block;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 100%;
  overflow-y: scroll;
  
  /* The emerging W3C standard that is currently Firefox-only */
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;

  /* Works on Chrome/Edge/Safari */
  &::-webkit-scrollbar {
    width: thin; /* match Firefox style */
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.7); /* match Firefox style */
    border-radius: 20px;
    border: 3px solid transparent;
  }
}
.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-name {
  color: #3e3f42;
  font-size: 1.6rem;
  font-weight: bold;
}

.divider {
  width: 100%;
  margin: 0;
  border-top: 1px solid #ced4da;
}

.task-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  color: #3e3f42;
}

.task-description {
  margin-bottom: 10px;
}

.publication-date {
  font-size: 0.9rem;
}

/* Add more styling as needed */
.header-TaskCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.header-TaskCard span{
  cursor: pointer;
}
.header-TaskCard span:hover{
  color: #007bff;
  scale: 1.3;
}